@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>

    <h5>SQL Database Performance tuning / monitoring</h5>
    <br />
    <p>Monitoring SQL Server helps you: Determine whether you can improve performance. </p>
    <p>For example, by monitoring the response times for frequently used queries, you can determine</p>
    <p> whether changes to the query or indexes on the tables are required. Evaluate user activity.</p>
    <br />
    <p>The following are just few tools / steps for moniroting and performance tuning (will be included in Demo)</p>

    <ul>
        <li>SQL Execution Plan / Query statistics</li>
        <li>SQL Profiler for on-prem SQL databases</li>
        <li>Extended Events (Azure SQL databases)</li>
        <li>Azure database monitoring</li>
        <li>3rd Party applications</li>
    </ul>

    
    <br />

    <p>SQL Execution Plan / Query statistics</p>
    <img src="~/resources/sql-executionplan.png" />
    <br />
    <p>SQL Profiler for on-prem SQL databases</p>
    <img src="~/resources/sql-profiler.png" />
    <br />
    <p>Extended Events (Azure SQL databases)</p>
    <br />
    <p>Azure database monitoring</p>
    <img src="~/resources/sql-azure-monitoring.png" />


</div>